.about{
    border: 1px;
    height:303px;
    width: 1022px;
    margin-top:187px ;
    margin-bottom:315px ;
    margin-left: 160px;
    margin-right:184px ;
    display: flex;
}
.about_left header{
    border: 1px;
    height:22px;
    width: 184px;
    color: #0284C7;
}
.about_left h1{
    border: 1px;
    height:49px;
    width: 666px
}
.about_left p{
    border: 1px;
    height:117px;
    width: 498px
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about_left {
    text-align: center;
    margin-bottom: 20px;
}

.about_right img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}