.title {
    text-align: center;
}

.row {
    padding-left: 10%;
    padding-right: 10%;
  }

.row::after {
    overflow: hidden;
}
  
.col {
    display: block;
    float: left;
    width: 350px; /* Equal-width columns */
    padding: 10px;
}