.row {
    padding-left: 10%;
    padding-right: 10%;
  }
  
.row::after {
    overflow: hidden;
}

.col {
    float: left;
    padding: 10px;
    
}

.row img {
    display: block;
    height: 10px;
    width: 10px;
}