/* -------------------------------------------- Nav -------------------------------------------- */

.topnav {
    /* overflow: hidden; */
    max-width: 100%;
    background-color: #ffffff;
  }
  
/* Style the topnav links */
.topnav a{
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

  /* ---------------------------------------------------------------------------------------- */